*.png
*.csv
*.jpg
*.jpeg
*.tif
*.avi
*.mp4
*.mp3
*.
*.json
*.DS_Store
*.onnx
*.zip
*.asv
./CNNTraining/PastLives/*
*.tar.gzip
Demo Images/.DS_Store
Multires_ML_Microscopy/.DS_Store
!Demo Images/Microglia/TrialControlZip.tif
