/*Copyright 2021 The MathWorks, Inc.*/

::selection { /*To disable text highlight*/
    color: none;
    background: none;
}
.mySlides {
	height: 80%;
	font-family: Arial,Helvetica;
    display:none;
}
.outermost-layer{
    background-color: rgb(80,140,204);
    height: 150px;
}
.slideshow-container {
	overflow: hidden;
	position: relative;
	margin: auto;
	width: 100%;
}
.slide-prev, .slide-next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 10px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 5%;
    background-color: rgba(0,0,0,0.2);
}
.slide-next {
	right: 0;
	border-radius: 5%;
}
.slide-prev:hover, .slide-next:hover {
	background-color: rgba(0,0,0,0.8);
}
.slide-text {
	color: #f2f2f2;
	font-size: 20px;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
}
.slide-link{
    cursor: pointer;
    font-size: 20px;
    color: rgb(50,117,168);
    background-color: #f2f2f2;
    display: inline-block;
    border-radius: 5%;
    padding: 0.5%;
}

.slide-dot-control {
	text-align: center;
    height: 20%;
}
.slide-dot {
	cursor:pointer;
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.slide-dot-active, .slide-dot:hover {
	background-color: #717171;
}

/************CSS Animation***********/

.animated { 
   -webkit-animation-name: fadeIn; 
           animation-name: fadeIn; 
   -webkit-animation-duration: 1s; 
           animation-duration: 1s; 
} 
@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}